body {
  background-image:url('/images/bg.png');
  background-repeat:no-repeat;
  background-color:#c0deed;
}

h1 {
}


input.large {
  margin: 0px auto;
  width:600px;
  padding:10px 12px 11px;
  border:1px solid #888;
  font-size:25px;
  display:block;
  transition:border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  background-color:#fff;
  border-radius:5px;
}
