.result {
  width:740px;
  padding-top:40px;
  margin:0px auto;
}

.grey_text {
  color:#818181;
}

.panel {
  background-color:rgba(196,196,196);
  border:1px solid #888;
  border-radius:3px;
  float:left;
}

.clear {
  clear:both;
}
